
PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=mks
DB_NAME=movie
DATABASE_URL=postgres://postgres:mks@localhost:5432/movie

JWT_SECRET=ee28cfef93f15d37f844a6b1b9560761e8e1e95a16b25d8727aae7b2a6f1e0f9
ENCRIPT_JWT_SECRET=1b89a6a2e572f81e6a739b8ff88d7ef44e660cdfe2dc4d8b98a26db9c97dd449
JWT_EXPIRATION=1d




